:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  color-scheme: dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 928px) {
    font-size: 16px;
  }
}

/* setup custom font */
@font-face {
  font-family: "VCR_OSD_MONO";
  src: url("/assets/fonts/VCR_OSD_MONO.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#app {
  width: 928px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* holds the left, middle and right sections */
.main-layout {
  display: grid;

  background-color: black;

  grid-template-columns: 256px 32px 384px 256px;
  grid-template-rows: 608px;
  
  grid-template-areas: 
  "left box-spacer middle right"
}

/* holds colour picker */
.left-layout {
  display: grid;

  grid-template-columns: 256px;
  grid-template-rows: 32px 576px;

  grid-template-areas:
  "colour-picker-header"
  "colour-picker";
}

/* holds noted panel and notes */
.middle-layout {
  display: grid;

  grid-template-columns: 384px;
  grid-template-rows: 64px 384px 160px;

  grid-template-areas: 
  "noted-header"
  "noted"
  "notes";
}

/* holds setting and role notes */
.right-layout {
  display: grid;

  grid-template-columns: 192px 64px;
  grid-template-rows: 224px 224px 160px;

  grid-template-areas:
  "box-4 box-4"
  "box-6 box-6"
  "box-5 box-7";
}

/* parent element for all grid types */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 64px);
  grid-auto-rows: 64px;
}

/* Spacer between colour picker and noted colours */
.spacer {
  grid-template-columns: 32px;
  grid-template-rows: 59px 394px 22px 133px;
}

/* used to set background colour of each spacer cell */
.filler {
  border-width: 5px;
  border-color: #3a3a3a;
}

/* uses scrollbar to contain any number of colours */
.colour-grid {
  background-color: #1a1a1a;
  height: 576px;

  overflow-y: auto;
}

/* holds noted colour cards */
.noted-grid {
  background-color: #2a2a2a;

  grid-template-columns: repeat(4, 96px);
  grid-auto-rows: 96px;

  overflow-y: auto;
}

/* holds per colour notes */
.notes-grid {
  background-color: #1a1a1a;
  grid-template-columns: 384px;
  grid-template-rows: 32px 128px;
}

/* holds map grid */
.map-grid {
  background-color: #1a1a1a;
  grid-template-columns: repeat(3, 64px);
  grid-template-rows: 32px 64px;
}

/* holds settings */
.options-grid {
  background-color: #3a3a3a;

  grid-template-columns: 64px;
  grid-template-rows: 32px 64px 64px;
}

/* holds bean image */
.colour-card {
  width: 64px;
  height: 64px;
  padding-top: 0.25rem;
}

/* image contained within colour card element */
.colour-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* holds colour card along with extra menu elements */
.image-wrapper {
  display: grid;
  position: relative;

  width: 64px;
  height: 96px;

  grid-template-columns: repeat(3, 32px);
  grid-template-rows: 32px 32px 32px;

  grid-template-areas: 
  "img-box img-box box-alignment"
  "img-box img-box box-alignment"
  "dropdown-box dropdown-box dropdown-box";
}

/* box with background image to indicate that dropping is possible */
.insert-visual {
  background-color: black;

  width: 90%;
  height: 90%;
  justify-self: center;
  align-self: center;

  border-style: dashed;
  border-color: #3a3a3a;

  background-image: url("/assets/icons/plus.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/* image for role in roles panel */
.role-img {
  width: 64px;
  height: 64px;
}

/* holds the 2 colour shade options when selecting certainty within image wrapper */
.alignment-grid {
  grid-template-columns: 32px;
  grid-template-rows: 32px 32px;
  background-color: red;
}

/* box containing single colour option placed within alignment grid */
.alignment-item {
  border-right-style: solid;
  border-color: #b5b5b5;
}

/* text area for notes panel */
.notes-input {
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  border-color: #3a3a3a;

  /* prevent resize */
  resize: none;
}

/* map icons */
.map-grid img {
  height: 64px;
  width: 64px;
}

/* image hovering */
img:hover {
  padding: 2px;
}

/* prevent default hover behaviour for this specific icon */
.venter-icon:hover {
  padding: 0px
}

/* dropdown for image wrapper cards */
.status-select {
  font-size: 15px;
  width: 96px;

  background: rgb(0, 0, 0);
  color: white;

  border-top-style: none;
  border-left-style: none;
  border-width: 3px;
  border-color: #b5b5b5;

  /* add custom background image to right of selects as default appearance was overriden and removed the arrow */
  background-image: url("/assets/icons/dropdown.png");
  background-repeat: no-repeat;
  background-position: right 8px center;

  /* override appearances it tries to automatically focr */
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* holds lobby settings */
.lobby-settings-grid {
  background-color: #1a1a1a;
  color: white;

  grid-template-columns: 128px 64px 32px 32px;
  grid-auto-rows: 32px;

  grid-template-areas: 
  "lobby-settings-label lobby-settings-label lobby-settings-label lobby-settings-label"
  "imp-label imp-label imp-input imp-input"
  "anonymous-label anonymous-label anonymous-label anonymous-input"
  "ejects-label ejects-label ejects-label ejects-input"
  "visuals-label visuals-label visuals-label visuals-input"
  "tasks-label tasks-label tasks-input tasks-input"
  "vent-cooldown-label vent-cooldown-label vent-cooldown-input vent-cooldown-input";
}

/* holds roles */
.roles-grid {
  background-color: black;
  grid-template-rows: 32px;
}

/* inputs within role grid */
.roles-grid input {
  width: 64px;
  height: 64px;
}

/* Used by taskbar updates selector */
.lobby-settings-grid select {
  border-style: none;
  border-bottom-style: none;
  border-color: black;
  background-color: #3a3a3a;
  font-size: 70%;

  /* override appearances it tries to automatically force */
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* checkbox inputs */
input[type="checkbox"] {
  appearance: none;
  border-style: solid;
  border-color: #3a3a3a;
  background-color: red;
  cursor: pointer;
}

/* checked checkbox inputs */
input[type="checkbox"]:checked {
  background-color: lime;
}

/* number inputs */
input[type="number"] {
  border-style: none;
  border-color: black;
  background-color: #3a3a3a;
}

input {
  /* override appearances it tries to automatically force */
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* labels within lobby settings */
label {
  border-style:solid;
  border-color: #2a2a2a;
  background-color: black;
  text-align: start;
  padding-left: 32px;
}

/* used by icons for roles in roles tab */
.role img {
  height: 32px;
  width: 32px
}

/* buttons within options grid */
.option-btn {
  width: 64px; 
  height: 64px; 
}

/* mod options button */
.mod-options {
  appearance: none;

  /* hide text and bg colour shift */
  color: transparent;
  background-color: transparent;
  border-style: none;

  background-image: url("/assets/icons/settings.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /* override appearances it tries to automatically force */
  border-radius: 0px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* mod options hovering over button */
.mod-options:hover{
  background-color: black;
}



