@import "./styles/layouts.css";
@import "./styles/grids.css";
@import "./styles/inputs.css";
@import "./styles/colour_cards.css";
@import "./styles/dragging.css";

:root {
    --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
    --mono: ui-monospace, Consolas, monospace;

    color-scheme: dark;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* setup custom font */
@font-face {
    font-family: "VCR_OSD_MONO";
    src: url("/assets/fonts/VCR_OSD_MONO.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

#app {
    text-align: center;
    margin: none;
    padding: 0;
}

/* get rid of default browser padding and margin */
body {
    margin: 0;
    padding: 0;
}

/* sets padding and base dimensions to be a unified size, fixes alignment issues with main grid within the window*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* image for role in roles panel */
.role-img {
    width: 64px;
    height: 64px;
}

/* image hovering */
img:hover {
    padding: 2px;
}

/* prevent default hover behaviour for this specific icon */
.venter-icon:hover {
    padding: 0px
}

/* labels within lobby settings */
label {
    border-style:solid;
    border-color: #2a2a2a;
    background-color: black;
    text-align: start;
    padding-left: 32px;
}

/* used by icons for roles in roles tab */
.role img {
    height: 32px;
    width: 32px
}

/* remove margin from top and make sure display is flex to center text vertically and make sure the header doesn't push against top */
h1 {
    height: 100%;
    margin-top: 0;
    display: flex;

    align-items: center;
    justify-content: center;

    color: white;
    background-color: black;

    border-style:solid;
    border-width: 5px;
    border-color: #3a3a3a;
    
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;

    text-transform: uppercase;
}

h2 {
    height: 32px;
    align-items: center;
    justify-content: center;

    color: white;
    background-color: #3a3a3a;

    margin-top: 0;

    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* written to take up whole row of a grid */

.grid h2 {
    margin-top: 0;
    grid-column: 1 / -1; 
}
  



